.spriteContainer {
    overflow: hidden;
    position: relative;
    display: flex;
    
    & >* {
        position: absolute;
        top: 0;
        left: 0;
    }

    &.rounded {
        border-radius: 3px;
        border-radius: 12px;
    }
}

.sprite {
    height: 100%;
    width: 100%;
    transform-origin: top left;

    &.rounded {
        border-radius: 3px;
    }
}


.clickable {
    cursor: pointer;
}
